In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

In [ ]:
df.head(10)

In [ ]:
df.tail(5)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.drop('Cabin', axis=1, inplace=True)

In [ ]:
df['Survived'].value_counts().plot(kind='bar')

In [ ]:
df.groupby('Sex')['Survived'].sum().plot(kind='bar')